Flask>=2.1.0
Jinja2>=3.0
itsdangerous>=2.0
click>=8.0
Werkzeug>=2.0
Flask-DebugToolbar
Flask-UUID>=0.2
sentry-sdk[flask]>=1.5.8
certifi
redis>=4.2.2
msgpack>=0.5.6
requests>=2.27.1
SQLAlchemy>=2.0
mbdata@git+https://github.com/acoustid/mbdata.git@v29.0.0
importlib-metadata>=3.10.0;python_version<'3.10'
